<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>This is the event edit page</h1>
  
    <form action="/events/<%=event._id%>?_method=PUT" method="POST">
        <input type="text" name="title" value="<%=event.title%>"/><br/>
        <input type="text" name="location" value="<%=event.location%>"/><br/>
        <input type="date" name="date" value="<%=event.date%>"/><br/>
        <button type="submit">Edit Event!</button>
    </form>
  
    <form action="/events/<%=event._id%>?_method=DELETE" method="POST"> 
        <button type="submit">Delete Event</button>
        </form>

    </body>
</html>