<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/events.css">
    </head>
    <body>
    <div id="first-background-picture">
    <nav>
        <div class="nav-bar">about</div>
        <div class="nav-bar">home</div>
        <div class="nav-bar">events</div>
        <div class="nav-bar">profile</div>
        <div class="nav-bar">logout</div>
    </nav>
    <h1 class="events-title">welcome to californature</h1>
    </div>
    <h1>This is the events index page</h1>
    <div>
    <h1>List of Events</h1>
   <ul>
    <% for (let i = 0; i < event.length; i++) {%>
    <li>
        <a href="/events/<%=event[i]._id%>"><%=event[i].title%></a>
    </li>
    <%}%>
    </ul>
    </div>
    <div>
    <ul>
    <h2>Upcoming Events For Logged In User</h2>
    <% for (let i = 0; i < userEvents.length; i++) {%>
        <a href="/events/<%=userEvents[i]._id%>"><li><%=userEvents[i].title%></li></a>
        <li><%=userEvents[i].date%></li>
        
    <%}%>   
    </ul> 
    </div>
    </body>
</html>