<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/modal.css">
        <script src=".../public/js/app.js"></script>
    </head>
    <body>
    <h1>This is the events show page</h1>
    <div>
         <h3><%=event.title%></h3>
         Organized by: <a href="/user/<%=event.owner._id%>/"><small><%=event.owner.name%></small></a>
    <ul>
        <li>Location: <%=event.location%></li>
        <li>Date: <%=event.date%></li>
        <li>description: <%=event.description%></li>
        <li>Where to find us: <%=event.findUs%></li>
    </ul>
    </div>
    <div>
    <h3>Event Participants</h3>
    <ul>
    <% for (let i = 0; i < event.participants.length; i++) {%>
    <li><a href="/user/<%=event.participants[i]._id%>"><%=event.participants[i].name%></li></a>
    <%}%>
    </ul>  
    </div>  

   <h3>Are you going?</h3>
   <%if (user._id.toString() === sessionId) {%>
        <div>
    <form action="/events/<%=event._id%>" method="POST">
    <button type="submit" class="yes-btn">Yes</button>
    </form>
    </div>
   <% } %>   

   <% for (let i = 0; i < event.participants.length; i++) {%>
    <%if (event.participants[i]._id = sessionId) {%>
        <button type="submit">Cancel Participation</button>
    <%}%>
    <%}%>


   <%if (event.owner._id.toString() === sessionId) {%>
   <div>
   <h3>Event Owner Options</h3>
        <form action="/events/<%=event._id%>?_method=DELETE" method="POST">
            <button type="submit" class="yes-btn">Delete Event</button>
        </form>
        
        <div>
            <a href="/events/<%=event._id%>/edit">Edit Event</a>
        </div>

    </div>  
    <%}%>
    </body>
</html>