<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
    <h1>This is the events show page</h1>
    <section>
         <h3>Event's Information</h3>
         Owner: <small><%=event.owner.name%></small>
    <ul>
        <li>Title: <%=event.title%></li>
        <li>Location: <%=event.location%></li>
        <li>Date: <%=event.date%></li>
        <li>participants: <%=event.participants%></li>
        <li>description: <%=event.description%></li>
        <li>Where to find us: <%=event.findUs%></li>
    </ul>
    </section>
    <section>
    <h3>Event Participants</h3>
    <ul>
    </ul>    

    <a href="/events/<%=event._id%>/edit">
        <button type="submit">Edit</button></a>
    </body>
</html>