<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/show.css">
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
    </head>
    <body>
        <%- include('../partials/navBar.ejs')%>
        <div class="event-show-parent">
            <div class="top-bar">
                <div class="top-bar-info">
                    <p class="top-event-date"><%=event.date.toDateString()%></p>
                    <h3 class="top-event-title"><%=event.title%></h3>
                    <p class="organizer-text">Organized by: <a href="/user/<%=event.owner._id%>/"><small><%=event.owner.name%></small></a></p>
                </div>

                <div class="are-you-going">
                <h3>Are you going?</h3>
                <h4 class="join-message"><%= session.joinMessage %></h4>
                    <%if (user._id.toString() === sessionId) {%>
                        <% if (!isAttending) {%>
                            <div>
                                <form action="/events/<%=event._id%>" method="POST">
                                    <button type="submit" class="yes-btn">Yes</button>
                                </form>
                            </div>
                        <%}%>
                    <%}%> 
                <% for (let i = 0; i < event.participants.length; i++) {%>
                    <%if (event.participants[i]._id.toString() === sessionId) {%>
                        <form action="/events/leave/<%=event._id%>" method="POST">
                            <button type="submit" class="cancel-btn">Cancel</button>
                        </form>
                    <%}%>
                <%}%>
            </div>
        </div>
        <div class="event-details">
            <div class="participants">
                <div class="details">
                    <h3 class="details-title">Details</h3>
                    <p class="details-p"><%=event.description%></p>
                </div>
                <%let sum = 0%>
                <% for (let i = 0; i < event.participants.length; i++) {%>
                <% sum += 1%>
                <%}%>
                <h3 class="event-participants">Event Participants (<%=sum%>)</h3>
                    <ul>
                        <% for (let i = 0; i < event.participants.length; i++) {%>
                        <li class="participant"><a href="/user/<%=event.participants[i]._id%>"><%=event.participants[i].name%></li></a>
                        <%}%>
                    </ul>  
            </div>

            <div class="aside">
                <p class="aside-date aside-text">Date: <%=event.date.toDateString()%></p>
                <p class="aside-location aside-text">Location: <%=event.location%></p>
                <p class="aside-find aside-text">How to find us: <%=event.findUs%></p>
                <div id="map"></div>
            </div>
        </div>

        

    <%if (event.owner._id.toString() === sessionId) {%>
        <div class="owner-options">
            <h3>Event Owner Options</h3>
                <form action="/events/<%=event._id%>?_method=DELETE" method="POST">
                    <button type="submit" class="delete-btn owner-btn">Delete Event</button>
                </form>
            
                <div class="event-edit">
                    <a href="/events/<%=event._id%>/edit"><button class="edit-btn owner-btn">Edit Event</button></a>
                </div>
        </div>  
        <%}%>

        </div>

        

        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3TNv_MLt6FZLTPzFGm0WCeE-EL2x2yGw&v=3&callback=initMap">
        </script>
        <script> 
        function initMap() {
        var place = {lat: <%=latNum%>, lng: <%=lngNum%>}
        // Constructor creates a new map - only center and zoom are required.
        var map = new google.maps.Map(document.getElementById('map'), {
        center: place,
        zoom: 13 });    
        var marker = new google.maps.Marker({position: place, map: map})
        }
        
        </script>
        
    </body>