<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link href="/css/userEdit.css" rel="stylesheet" />
  </head>
  <body>
    <main class="background">
      <%- include('../partials/navBar.ejs')%>
      <section class="edit-section">
        <form action="/user/<%=user._id%>?_method=PUT" method="POST">
          <p>Update Name:</p>
          <input type="text" name="name" value="<%=user.name%>" /> <br />
          <p>Update Email:</p>
          <input type="email" name="email" value="<%=user.email%>" /> <br />
          <p>Update Password:</p>
          <input type="password" name="password" /> <br />
          <button class="confirm-button" type="submit">Confirm</button>
        </form>
        <form action="/user/<%=user._id%>?_method=DELETE" method="POST">
          <button class="terminate-button" type="submit">
            Terminate Account
          </button>
        </form>
      </section>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
